pre {
  padding: 10px;
  overflow-x: scroll;

}

code {

}

p code {
  color: $color-font;
  border: 1px solid $color-body;
  box-shadow: 1px 0px 1px $color-body;
  padding: 5px;
  border-radius: 5px;
  background: $color-body;
}
