.post {
    width: 100%;
    text-decoration: none;
    display: block;
    margin-bottom: 50px;

    .category, .description, .title {
        display: block;
    }

    .category, .description, .extra {
        color: $color-subtitle;
        font-size: 15px;
        line-height: 14px;
        text-decoration: none;
    }

    .category {
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .title {
        color: $color-title;
        font-size: 24px;
        line-height: 20px;
        font-weight: 600;
        margin: 20px 0 8px;
    }
    
    .extra {
        margin-top: 20px;
    }

    .extra > a {
        color: $color-link
    }

    .table-of-contents {
        .title {
            margin-top: 30px;
        }
        ul {
            list-style-type: upper-roman;
            color: $color-font;
            font-weight: bold;
        }

        a {
            color: $color-link;
        }
    }
    address > span, .extra {
        font-size: 12px;
        line-height: 13px;
    }

    address {
        height: 20px;
        margin: 10px 0 3px;
        font-style: normal;

        & > span { 
            color: $color-title;
            display: block;
        }
    }
}

.post-page {
    &:after {
        content: " ";
        display: block;
        clear: both;
    }

    .body, header {
        width: 100%;

        img {
            margin: auto;
            float: right;
        }

        @media screen and (min-width: 900px) {
            float: left;
        }
    }

    header {
        @media screen and (min-width: 900px) {
            position: fixed;
            width: calc(30% - 35px);
            max-width: 310px;
        }
    }

    .body {
        box-sizing: border-box;
        border-top: 1px solid $color-head;
        border-radius: 5px;
        margin-top: 30px;
        color: $color-body;
        background-color: $color-title;

        @media screen and (min-width: 900px) {
            border-top: 0px;
            border-left: 1px solid $color-head;
            margin-left: calc(28% + 30px);
            margin-top: 0px;
            padding-left: 30px;
            width: 69%
        }

        img {
            box-sizing: border-box;
            max-width: 100%;
            display: block;
            padding: 20px;
        }

        p {
            padding: 5px;
            text-indent: 20px;
        }

        p > img {
            margin: 0 auto;
        }

        a {
            color: $color-link;
        }
    }

    .relative-posts {
        margin-top: 10px;
        padding-top: 10px;

        & > .base-list {
            padding: 0px;
            margin-top: 5px;
        }
    }
}
