---
layout: projects
title: Projetos
---

<p align="center">
<img class="projects-thumb" width=250 src="https://github.com/PinheiroCosta/MyScripts/raw/97722319eace982113f70993149753274e16ad9c/images/terminal.png"></img>
</p>

{% assign projects = site.data.projects %}

<div class="general-summary">
{% for project in projects %}
  <article class="project-summary post-content e-content">
    <h1>{{ project.name }}</h1>
    <img title="{{project.description}}" src="{{project.thumbnail}}" alt="{{project.description}}"></img>
    <span><p>{{project.description}}</p></span>
    <div class="project-requirement">
      <h2>Requirements:</h2>
      <ul>
      {% for requirement in project.requirements %}
        <li>
        {{ requirement }}
        </li>
      {% endfor %}
      </ul>
    </div>
    <h2>Instalation:</h2>
    {{ project.instalation }}
    <div class="project-howto">
      <h2>How to use:</h2>
      {{ project.howto }}
    <div>
  </article>
{% endfor %}
</div>
