<div class="intro">
    <h1>Oi, sou Rômulo</h1>
    <p>
    Desenvolvedor de software <span>open source</span>.
    Você encontrará meu trabalho aqui no <a href="https://github.com/PinheiroCosta" target="#_blank">Github</a> 
    e pode acompanhar meu progresso nas plataformas 
    <a href="https://www.codingame.com/profile/25c600759c3b87b73eff5a785b23212a1218773" target="#_blank">CodinGame</a> e <a href="https://www.hackerrank.com/Pinheirocosta" target="#_blank">HackerRank</a>.
    <span class="cursor-blink">&nbsp;&nbsp;<span>
    </p>
    <a href="#articles">
    <svg class="arrow bounce filter-green" viewBox="0 0 320 512" width="100" title="angle-down">
     
        <path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z" />
    </svg>
    </a>
</div>
