<div class="intro">
    <h1>Código Aberto & Tutoriais</h1>
    <p>Aqui você encontrará publicações sobre desenvolvimento de software <span>open source</span>.
    Este espaço funciona como complemento da minha página do <a href="https://github.com/PinheiroCosta" target="#_blank">Github</a>, e, é reservado para registrar toda sorte de ferramentas, ideias, e algoritmos, que em algum momento 
    me ajudaram a solucionar problemas. Sinta-se a vontade para entrar em <a href="mailto:romulopinheirocosta@gmail.com">contato</a> comigo, e compartilhar suas dúvidas, críticas ou sugestões.
    <span class="cursor-blink">&nbsp;&nbsp;<span>
    </p>
    <a href="#articles">
    <svg class="arrow bounce filter-green" viewBox="0 0 320 512" width="100" title="angle-down">
     
        <path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z" />
    </svg>
    </a>
</div>
