---
layout: default
github_picture: https://avatars.githubusercontent.com/
description: Meu nome é Rômulo Pinheiro, seja bem vindo(a) ao Grimório Script! Aqui você encontrará toda sorte de scripts que escrevo para uso cotidiano, e algumas dicas sobre como eles foram feitos. Além de dicas e tutoriais sobre assuntos relacionados ao GNU/Linux.
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
  
    <div class="author">
      <figure>
        <img src="{{ layout.github_picture }}{{ site.github_username }}" 
             alt="Author picture">
      </figure>

      <div class="post-description">

        {{ layout.description }}

      </div>
    </div>

    <div class="post-content">
      {{ content }}
    </div>

</article>


